<div class="mt-4 mb-4 mx-3">
    <h1 class="text-center mt-2 mb-2 main-title">BOOK YOUR BARBER</h1>
    <h2 class="text-center mt-2 mb-5 sub-title">
        Great Hair Doesn’t Happen By Chance. It Happens By Appointment! 
        <span class="d-none d-sm-block">So, Don't Wait And Book Your Appointment Now!</span>
    </h2>
</div>
<div class="container">
    <div class="position-relative col-12 mr-5">
        <div class="row bg-faded">
            <div class="">
                <img 
                    src="https://i.imgur.com/rFNRx0N.jpg" 
                    alt="barber" 
                    class="img-fluid main-img"
                >
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="form col-sm-12 col-md-6">
        <h2 class="text-center mt-3 mb-3 form-title">BOOK YOUR APPOINTMENT</h2>
        <form 
            [formGroup]="barbersForm"
            (ngSubmit)="onSubmit()"
            class="form-inline align-items-start"
        >
            <div class="col-12 col-sm-6 input-group mt-2 mb-3"> 
                <input 
                    id="firstName" 
                    name="firstName" 
                    placeholder="First Name" 
                    type="text" 
                    class="form-control col-12" 
                    required
                    formControlName="firstName"
                >
                <div *ngIf="firstName.touched && firstName.invalid">
                    <span 
                        *ngIf="firstName.errors.required"
                        class="text-danger"
                    >
                        Please enter your full name
                    </span>
                </div>
            </div>
            <div class="col-12 col-sm-6 input-group mt-2 mb-3"> 
                <input 
                    id="lastName" 
                    name="lastName" 
                    placeholder="Last Name" 
                    type="text" 
                    class="form-control col-12" 
                    required
                    formControlName="lastName"
                >
                <div *ngIf="lastName.touched">
                    <span 
                        *ngIf="lastName.errors.required"
                        class="text-danger"
                    >
                        Please enter your last name
                    </span>
                </div>
            </div>
            <div class="col-12 col-sm-6 input-group mt-2 mb-2"> 
                <input 
                    id="email" 
                    name="email" 
                    placeholder="Email" 
                    type="text" 
                    class="form-control col-12" 
                    required
                    formControlName="email"
                >
                <div *ngIf="email.touched && email.invalid">
                    <span 
                        *ngIf="email.errors.required"
                        class="text-danger"
                    >
                        Please enter a valid email
                    </span>
                </div>
            </div>
            <div class="col-12 col-sm-6 input-group mt-2 mb-2"> 
                <input 
                    id="contactNumber" 
                    name="contactNumber" 
                    placeholder="Contact Number" 
                    type="text" 
                    class="form-control col-12" 
                    required
                    formControlName="contactNumber"
                >
                <div *ngIf="contactNumber.touched && contactNumber.invalid">
                    <span 
                        *ngIf="contactNumber.errors.required"
                        class="text-danger"
                    >
                        Please enter phone number
                    </span>
                </div>
            </div>
            <div class="col-12 col-sm-6 input-group mt-2 mb-2"> 
                <select 
                    class="custom-select col-12" 
                    required
                >
                    <option selected>Select Barber</option>
                    <option 
                        *ngFor="let barber of barbers; index as i;"
                        ngDefaultControl
                        formControlName="selectBarber" 
                        value="{{barber.id}}"
                    >   {{barber.firstName}} {{barber.lastName}}
                    </option>
                </select>
                <div *ngIf="selectBarber.touched && selectBarber.invalid">
                    <span 
                        *ngIf="selectBarber.errors.required"
                        class="text-danger"
                    >
                        Please select a barber
                    </span>
                </div>
            </div>
            <div class="col-12 col-sm-6 input-group mt-2 mb-2">
                <select 
                    id="selectService" 
                    name="selectService" 
                    class="custom-select col-12" 
                    required
                >
                    <option value="" selected>Select Service</option>
                    <option 
                        *ngFor="let service of services; index as i;"
                        ngDefaultControl 
                        value="{{service.id}}"
                        formControlName="selectService"
                    >   {{service.name}}
                    </option>
                </select>
                <div *ngIf="selectService.touched && selectService.invalid">
                    <span 
                        *ngIf="selectService.errors.required"
                        class="text-danger"
                    >
                        Please select a service
                    </span>
                </div>
            </div>
            <div class="col-12 col-sm-6 input-group mt-2 mb-2"> 
                <input 
                    id="selectDate" 
                    name="selectDate"
                    class="custom-select col-12" 
                    required
                    formControlName="selectDate"
                    placeholder="Select Date"
                    bsDatepicker
                    [bsValue]="bsInlineValue"
                    [bsConfig]="{ isAnimated: true }"
                >
                <div *ngIf="selectDate.touched && selectDate.invalid">
                    <span 
                        *ngIf="selectDate.errors.required"
                        class="text-danger"
                    >
                        Please pick a date
                    </span>
                </div>
            </div>
            <div class="col-12 col-sm-6 input-group mt-2 mb-2"> 
                <input
                    [popover]="timePickerPopup" 
                    [outsideClick]="true"
                    placeholder="Select Hour"
                    name="selectHour" 
                    placement="bottom"
                    class="custom-select col-12"
                    required
                    formControlName="selectHour" 
                >
                <div *ngIf="selectHour.touched && selectHour.invalid">
                    <span 
                        *ngIf="selectHour.errors.required"
                        class="text-danger"
                    >
                        Please pick a time
                    </span>
                </div>
            </div>
            <div class="col-12 input-group mt-2 mb-2"> 
                <select 
                    id="price" 
                    name="price" 
                    placeholder="Select any service" 
                    type="text" 
                    class="form-control col-12" 
                    readonly
                >
                    <option selected>Select Service</option>
                    <option 
                        *ngFor="let service of services; index as i;"
                        ngDefaultControl
                        formControlName="price"
                        value="{{service.id}}"
                    >   {{service.price}} €
                    </option>
                </select>
            </div> 
            <div class="col-12 input-group mt-5 mb-5">
                <button 
                    type="submit" 
                    class="btn btn-block"
                > BOOK <span class="d-none d-sm-inline"> APPOINTMENT </span>
                </button>
            </div>
        </form>
    </div>
</div>

<ng-template #timePickerPopup>
    <timepicker 
        [(ngModel)]="bsInlineValue" 
        [showMeridian]="false"
        class="w-50"
    >
    </timepicker>
</ng-template>