.main-title {
    font-family: 'Squada One', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 37px;
    font-weight: 500;
    letter-spacing: 1.8px;
}

.success-img {
    border: solid 2px black;
    padding: 10px;
    background-clip: content-box;
    background-color: rgb(251, 244, 235);
}