/* You can add global styles to this file, and also import other style files */
html {
    height: 100%;
}

body {
    background-color: rgb(251, 244, 235);
    width: 100%;
    height: 100%;
}

@import url('https://fonts.googleapis.com/css2?family=Squada+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&family=Squada+One&display=swap');
