/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Squada+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&family=Squada+One&display=swap');

html {
    height: 100%;
}

body {
    background-color: rgb(251, 244, 235);
    width: 100%;
}

// Date Picker color changes
body .bs-datepicker-container .bs-datepicker-head {
    background-color: #1c2743;
}
  
body .bs-datepicker-container .bs-datepicker-head * {
    color: white;
}

body .theme-green .bs-datepicker-body table td.week span {
    color: #fd9564;
}

body .theme-green .bs-datepicker-body table td span.selected {
    background-color: #1c2743;
    color: #fd9564;
}
 // Datepicker inside popover fix
.bs-timepicker-field {
    width: 50px !important;
}